html, body {
  background: #F4F7F9;
  color: #1E1E42;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: #E94D98;
}
a:visited {
  color: #E94D98;
}
a {
    outline: 0;
}

@media screen and (max-width: 1399px) {
  /* Mobile styles */
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
@media screen and (min-width: 1400px) {
  /* Desktop styles */
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}

header {
  height: 35px;
  line-height: 35px;
}
header * {
  margin-top: 0;
}

.githubButton {
  height: 35px;
  width: 50px;
  background-size: contain;
  float: right;
  background-repeat: no-repeat;
  background-image: url(./githubLight.png);
}

#blog, header {
  margin-top: 20px;
  max-width: 700px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 17px;
}

#sidebar {
  position: fixed;
  left: calc(50% + 360px);
  top: 40px;
  width: 280px; height: calc(100% - 60px);
  padding-left: 10px;
  font-size: 18px;
  line-height: 20px;
}

.avatar {
  background: #E3E3E3;
  background-image: url('./me.jpg');
  background-size: contain;
  background-position: center center;
  width: 130px; height: 130px;
  border-radius: 100%;
  margin: auto;
}
.name {
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
}

.title {
  font-size: 32px;
  font-weight: 500;
}
.description {
  font-size: 20px;
  font-weight: lighter;
  opacity: 0.7;
}

.title > p {
  margin-bottom: 0;
}

.homepage.title {
  padding-bottom: 10px;
}

.blogLink {
  float: right;
  width: 100%;
  text-align: right;
  padding: 10px 20px 45px 0;
}

.switch {
  position: absolute;
  bottom: 0; right: 0;
  width: 70px; height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
    background-image: url(./switch-day.png);
}
pre {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  overflow: auto;
}
code {
  background-color: white;
  padding: 4px;
  border-radius: 5px;
}
pre > code {
  padding: 0;
  border-radius: 0;
  background-color: transparent;
}
